.list-link{
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  font-size: 16px;
  padding: 15px;
  margin-bottom: -1px;
  z-index: 0;
}

.list-link a{
  color: black;
}
